
:root {

    --black: #000000;
    --gray-100: #f5f8fa;
    --gray-200: #eff2f5;
    --gray-300: #E4E6EF;
    --gray-400: #B5B5C3;
    --gray-500: #A1A5B7;
    --gray-600: #7E8299;
    --gray-700: #5E6278;
    --gray-800: #3F4254;
    --gray-900: #181C32;

    --white: #ffffff;

    --text: #ffffff;

    --bg: #29193f;
    --primary: #fe89e4;
    --secondary: #29193f;
    --tertiary: #a63446;
    --dark: #36311F;
    --light:  #FBFEF9;
    --muted:  #c3c3c3;

    --font-family: sans-serif;


}

.text-muted {
    color: var( --muted) !important;
}

.text-light {
    color: var( --light) !important;
}

body {
    background-color:var(--bg);
    color: var(--text);
    font-family: var(--font-family);
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
}

footer {
    font-size:  0.6rem;
    color: var(--text);
    letter-spacing: 0.05em;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

nav {
    background-color:transparent;
    color: var(--text);
    padding-top: 20px !important;
}

.logo {
    z-index: 1;
    font-size: 16px;
    color: var(--text);
    font-family: sans-serif;
    margin-right: 20px;
    letter-spacing: 0.05em;
    border-radius: 15px;
    padding-top: 6px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 6px;
    margin-left: 20px;
    border: 2px solid var(--primary);
    text-decoration: none;
}

.logo:hover {
    text-decoration: none;
    color: var(--secondary);
    border: 2px solid var(--secondary);
}

.nav-item {
    font-size: 16px;
    color: var(--text);
    letter-spacing: 0.05em;
    border-radius: 15px;
    border: 2px solid var(--primary);
    margin-right: 14px;

    padding-top: 6px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 6px;
}

.nav-item:hover {
    color: var(--secondary);
    border: 2px solid var(--secondary);
}
.form-group {
    margin-bottom:20px !important;
}

.form-control {
    background-color: transparent !important;
    color: var(--text) !important;
    width: 100%;
    font-weight: 400 !important;
    font-size: 0.85rem;
    border: 1px solid var(--primary);
}

.form-label {
    font-weight: 500;
    font-size: 0.85rem;
}

.form-floating {
    margin-bottom:20px !important;
}


.form-control::placeholder {
    color: var(--text) !important;
}

.form-control:focus {
   box-shadow: none;
   color: var(--secondary) !important;
   border-color: var(--secondary) !important;
   font-weight: 400 !important;
}
.form-control:focus::placeholder {
    color: var(--secondary) !important;
}

.btn-primary {
    color: var(--text) !important;
    background-color: transparent;
    border-color: var(--primary) !important;
    border-radius: 6px;
}
.btn-primary:hover {
    color: var(--secondary) !important;
    background-color: transparent;
    border-color: var(--secondary) !important;
}

.card {
    background-color: transparent;
    border: 1px solid var(--primary);
    box-shadow: none;
    margin-bottom: 20px;
}

.card-body{
    font-size: 0.85rem;
    color: var(--text);
}
.card-body:hover{
    color: var(--secondary);
}

.border-dashed {
    border-style:dashed !important;
}

.card-header {
    font-size: 1rem;
}
.card-text {
    font-size: 0.85rem;
}

.card:hover {
    color: var(--secondary) !important;
    border-color: var(--secondary) !important;
}

.card:hover .page-icon {
    opacity: 0.7;
}

.card-page {
    height: 140px;
}
.page-icon {
    height: 100px;
}

a.card {
    text-decoration: none;
    color: var(--text);
}
a:hover, a.card:hover {
    text-decoration: none;
    color: var(--secondary);
}

option {
    background-color: var(--bg);
    color: var(--text);
    padding-top: 10px;
}

.widget{
    position:fixed;
}

.widget.draggable {
    cursor: pointer;
    user-select: none;
    position:fixed;
}

.widget.draggable:hover{
    outline: 2px solid var(--text);
}
.widget.draggable.drag{
    outline: 2px solid var(--text);
}