{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<div class="row">
  <div class="col-8 col-sm-6  mt-5 mb-3">
    <form method="POST" class="w-100 d-flex">
      <div class="form-group mr-2 mt-0">
        <label for="title" class="sr-only">title</label>
        <input type="text" class="form-control form-control-lg" id="title" name="title" value="{{ page.title }}"/>
      </div>
      <div class="form-group mt-0">
        <label for="sub_title" class="sr-only">sub title</label>
        <input type="text" class="form-control form-control-lg" id="sub_title" name="sub_title" value="{{ page.sub_title }}"/>
      </div>
      </form>
  </div>
  <div class="col-4 col-sm-6 mt-5 mb-3" align="right">
    <a href="/page/{{page.id}}" class="btn btn-primary mr-1">cancel</a>
    <a href="javascript:void" id="savePageEdits"  class="btn btn-primary mr-1">save</a>
    <a href="/page/{{page.id}}/add_widget" class="btn btn-primary">+</a>
  </div>
</div>

<div class="widget-container">
  {% for widget in page.widgets %}
  <div id="{{widget.id}}" data-widget-type="{{widget.type}}" class="widget draggable" style="width:{{widget.width}}px;z-index:{{widget.index}};top:{{widget.posy}};left:{{widget.posx}}" >
    {% if widget.type == 'image' %}
    <img src="{{widget.content}}" class="w-100">
    {% endif %}
    {% if widget.type == 'text' %}
    <div style="font-family:{{widget.font_family}};font-size:{{widget.font_size}}px;color:{{widget.font_color}}">{{widget.content}}</div>
    {% endif %}
  </div>
  {% endfor %}
</div>

{% endblock %}
{% block scripts %}
<script>
  let page_id = '{{page.id|safe}}';
  let widgets = JSON.parse('{{widgets|safe}}');
  console.log(widgets.find(widget => widget.id == 1).posx)

  const saveButton = document.getElementById('savePageEdits');
  saveButton.addEventListener('click', function(e) {
      fetch(site_url + 'page/{{page.id}}/edit_page', {
          method: 'post',
          body: JSON.stringify({
            'title':document.getElementById('title').value.trim(),
            'sub_title':document.getElementById('sub_title').value.trim(),
            'widgets': widgets
          }),
          headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
          }
      }).then((response) => {
          return response.json()
      }).then((res) => {
          if (res.status === 201) {
              console.log("Post successfully created!")
          }
      }).catch((error) => {
          console.log(error)
      })
  });


  const container = document.querySelector('.widget-container');
  window.onload = function() {
    document.querySelectorAll('.widget').forEach((widget) => {
      draggable(widget);
    });
  }
  
  function draggable(el) {
    el.addEventListener('mousedown', function(e) {
      el.classList.add('drag');
      el.style.position = 'absolute';
      el.style.zIndex = "1";
      var offsetX = e.clientX - parseInt(window.getComputedStyle(this).left);
      var offsetY = e.clientY - parseInt(window.getComputedStyle(this).top);
      
      function mouseMoveHandler(e) {
        el.style.top = (e.clientY - offsetY) + 'px';
        el.style.left = (e.clientX - offsetX) + 'px';
      }
  
      function reset() {
        el.classList.remove('drag');
        window.removeEventListener('mousemove', mouseMoveHandler);
        window.removeEventListener('mouseup', reset);
        el.style.zIndex = "-1";

        let widget = widgets.find(widget => widget.id == el.getAttribute('id'))
        widget.posx =  el.style.left;
        widget.posy =  el.style.top;
      }
      e.preventDefault();
      window.addEventListener('mousemove', mouseMoveHandler);
      window.addEventListener('mouseup', reset);
    });
  }
</script>
{% endblock %}