{% extends "base.html" %} 
{% block content %}
<div class="row mt-5 mb-3">
  <div class="col-8 col-sm-6">
    <h3>{{ page.title }}</h3>
    <h6 id="sub_title">{{ page.sub_title }}</h6>
  </div>
  <div class="col-4 col-sm-6" align="right">
    <a href="javascript:void(0)" id="exportPage" class="btn btn-primary mr-1 mb-1 d-none">export</a>
    <a href="/page/{{page.id}}/share"   class="btn btn-primary mr-1 mb-1">share</a>
    <a href="/page/{{page.id}}/edit"   class="btn btn-primary mr-1 mb-1">edit</a>
  </div>
</div>

<div class="widget-container">

  {% for widget in page.widgets %}
  <div id="{{widget.id}}" data-widget-type="{{widget.type}}" class="widget" style="width:{{widget.width}}px;z-index:{{widget.index}};top:{{widget.posy}};left:{{widget.posx}}" >
    {% if widget.type == 'image' %}
    <img src="{{widget.content}}" class="w-100">
    {% endif %}
    {% if widget.type == 'text' %}
    <div style="font-family:{{widget.font_family}};font-size:{{widget.font_size}}px;color:{{widget.font_color}}">{{widget.content}}</div>
    {% endif %}
  </div>
  {% endfor %}

</div>

{% endblock %}
{% block scripts %}
<script>

  const exportBtn = document.getElementById('exportPage');
  exportBtn.addEventListener('click', function(e) {
   
    const targetPage = document.querySelector('html');
    html2canvas(targetPage, {allowTaint: true, useCORS: true}).then((canvas) => {
      let image = canvas.toDataURL("image/png");
      let anchor = document.createElement('a');
      anchor.setAttribute("href", image);
      anchor.setAttribute("download", "imagetest.png");
      anchor.click();
      anchor.remove();
    });
  });
</script>
{% endblock %}